* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: aliceblue;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 20px;
}

h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
}

select{
    font-size: medium;
}

button {
    background-color: lightblue;
    color: black;
    padding: 10px;
    border: none;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
    color:white;
    font-size: medium;
}


div#restaurant-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.error{
    color:red;
}